<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="static\css\icon.svg"/>
<title>Admin</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static\css\bootstrap.css" >
<br>
</head>
<body style="background-color:black">
<h1 style="color:violet;text-align:center">Hola, {{val[0][0]}}</h1>

<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;">
	<a href="addstud" style="color:transparent;"><button type="button" class="btn btn-primary btn-lg btn-block">Add Admin/Student</button></a>
	</div>

<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;color:red;">
<a href="addcrs" style="color:transparent;"><button type="button" class="btn btn-primary btn-lg btn-block" >Add Course</button></a>
	</div>

<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;color:red;">
<a href="addbk" style="color:transparent;"><button type="button" class="btn btn-primary btn-lg btn-block" >Add Book</button></a>
	</div>
<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;">
<button type="button" class="btn btn-primary btn-lg btn-block">Get Bills</button>
	</div>
<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;">
<a href="viewbks" style="color:transparent"> <button type="button" class="btn btn-primary btn-lg btn-block">View Books</button> </a>
	</div>

<div style="padding: 25px 40px;font-size: 20px; border-radius: 10px;">
<a href="viewstuds" style="color:transparent"> <button type="button" class="btn btn-primary btn-lg btn-block">View Students</button> </a>
	</div>

<!--<button type="button" class="btn btn-primary btn-lg btn-block"></button>-->



</body>
</html>