<!doctype html>
<html>
<head>
<link rel="icon" href="static\css\icon.svg"/>
<title>Login</title>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet"
	type="text/css"
	href="static\css\mn1.css"/>
</head>
<body>
<div class="container">
<div class="form">
<h2 style="padding-left:130px">Login Form</h2>
<form action="" method="post">
<div class="inputBox">
<input type="text"  name="email"  placeholder="Email">
  </div>
  <div class="inputBox">
<input type="password"  name="passwd"  placeholder="Password">
  </div>
  <div style="padding-top:10px">
<input type="submit" class="button" value="login"></input>
</div>
  <p> <a href="wel"> Go back</a>&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#"> Forgot Password?</a></p>
</form>
</div>
</div>
</body>
<html>