<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="static\css\icon.svg"/>
<link rel="stylesheet"  type="text/css" href= "static\css\home.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body style="background-color:black;">
<br><br>
<marquee><h3 style="color:blue">“Books are not something that you just read words in. They’re also a tool to adjust your senses.” – Shogo Makishima</h3></marquee>
<p style="color:white">Copyright © 2021 National Stock Exchange of India Ltd. All rights reserved. Best viewed in Chrome.</p>


</body>
</html>