<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Customer Care</title>
    <link rel="icon" href="static\css\icon.svg"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="services">
      <h1>Our Services</h1>
      <div class="cen">
        <div class="service">
          <i class="fas fa-anchor"></i>
          <h2>Customer care</h2>
          <p>If you facing any issues please contact customer care via <a href="#">1234567890</a>📞.</p>
        </div>

        <div class="service">
          <i class="fab fa-android"></i>
          <h2>Android App</h2>
          <p>Android app services from our side📱.</p>
        </div>

        <div class="service">
          <i class="fab fa-angellist"></i>
          <h2>Our victories</h2>
          <p>Awards and other achievements our company gained🥇.</p>
        </div>

        <div class="service">
          <i class="fab fa-apple"></i>
          <h2>IOS</h2>
          <p>IOS app services from our side.</p>
        </div>

        <div class="service">
          <i class="fas fa-archway"></i>
          <h2>Branches</h2>
          <p>Our branches all over the world🌍.</p>
        </div>

        <div class="service">
          <i class="far fa-angry"></i>
          <h2>Review Percentage</h2>
          <p>Reviews with their percentages as graphs are shown just check it out!!📊.</p>
        </div>
      </div>
    </div>
  </body>
</html>
