<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
    <link rel="stylesheet"
	type="text/css"
	href="static\css\studpage.css"/>
    <link rel="stylesheet" href="static\css\bootstrap.css" >
    <link rel="icon" href="static\css\icon.svg"/>
</head>
<body>

<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" style="background-color:#642374;">
            <div class="sidebar-header" style="background-color:#642374;">
                <h3 >LMS</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Contents</p>
                <li class="active">

                    <a href="#" style="background-color:#642374;text-decoration-style: wavy;">
                        Home</a>

                </li>
                <li>
                    <a href="courses" style="color:white;text-decoration-style: wavy;background-color:#642374;">Courses</a>
                </li>
                <li>
                    <a href="#" style="color:white;text-decoration-style: wavy;background-color:#642374;">Calendar</a>
                </li>
                <li>
                    <a href="#" style="color:white;text-decoration-style: wavy;background-color:#642374;">Registered Books</a>
                </li>
                <li>
                    <a href="#" style="color:white;text-decoration-style: wavy;background-color:#642374;">Portfolio</a>
                </li>
                <li>
                    <a href="#" style="color:white;text-decoration-style: wavy;background-color:#642374;">Contact us</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" style="background-color:white;">



            <h2 style="text-align:center">Payment</h2>
<form method="post">

    <input type="text" name="nm" placeholder="name">
    <input type="button" value="submit">
</form>

        </div>
    </div>

</body>
</html>

