<!doctype html>
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="icon" href="C:\Users\shanm\Desktop\Zed\static\images\icon.svg"/>-->
<!--    <title>Signup</title>-->
<!--</head>-->
<!--<body style="background-color:black;color:white;">-->
<!--<form action="" method="post">-->
<!--<fieldset>-->
<!--<legend>Tedium</legend>-->
<!--&lt;!&ndash;<input type="text" name="user" placeholder="Username"></input>&ndash;&gt;-->
<!--<input type="text" name="user" placeholder="Username"></input><br>-->
<!--<input type="email" name="email" placeholder="Mail"></input><br>-->
<!--<input type="number" name="phone" placeholder="Phone"></input><br>-->
<!--<input type="password" name="passwd" placeholder="Password"></input><br>-->
<!--<input type="password" name="passwd1" placeholder="Confirm Password"></input>-->
<!--<input type="submit" value="Login"></input>-->
<!--</fieldset>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<html>
<head>
<link rel="icon" href="static\css\icon.svg"/>
<title>SignUp</title>
<link rel="stylesheet" href="static\css\mn.css" >
</head>
<body>
<div class="container">
<div class="form">
<h2 style="padding-left:130px">SignUp</h2>
<form action="" method="post">
<div class="inputBox">
<input type="text"  name="user"  placeholder="Username">
  </div><br>
<div class="inputBox">
<input type="text"  name="email"  placeholder="Email">
  </div><br>

  <div class="inputBox">
<input type="password"  name="passwd"  placeholder="password">
  </div><br>
  <div class="inputBox">
<input type="password"  name="passwd1"  placeholder="Confirm password">
  </div><br>
  <div class="inputBox">
<input type="text"  name="phone"  placeholder="Phone number"><br><br>
 <div class="inputBox">
<input type="text"  name="role"  placeholder="Admin/User">
  </div>
<!--<div style="padding-top:15px">-->
<!--<a href="trail-b.html" class="button">SignUp</a>-->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<br><br>

<div><p> <a href="wel"> Go back</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" class="button" value="Signup"></input></p>
</div>


</form>
</div>
</div>
</body>
<html>